.logo {
    width: 100px;
    height: 60px;
}

.logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.search-input {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}

.icons {
    font-size: 20px;
    margin-right: 10px;
}

.icons:hover {
    cursor: pointer;
}
