.image {
    width: 180px;
    height: 240px;
}

.card {
    width: 250px;
    height: 500px;
    box-shadow:  1px 4px 3px lightgray;
    border-radius: 10px;
    margin: 15px;
    transition: all .6s;
}

.card:hover {
    box-shadow: 1px 4px 3px rgb(196, 70, 70);
}
.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color, .5s;
}

.detail-button:hover {
    background-color: gold;
    cursor: pointer;
}