* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-create {
    width: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.todo-input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}

.todo-create-button {
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: black;
    background-color: gold;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;
}

.icons {
    font-size: 22px
 }

.icons > * {
    cursor: pointer;
}