* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.todo-create {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.main {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid lightgrey;
    outline: none;
}

.todo-create-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: gold;
    font-weight: 700;
    cursor: pointer;
}

.todo-icons {
    font-size: 25px;
    cursor: pointer;
    margin-right: 7px;

}