.container {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff ;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    margin: 0 auto;
}

form {
    width: 100%;
    padding: 15px 10px;
}

h2 {
    color: #333333;
    text-align: center;
    font-size: 30px;
}

.input-section:not(:last-of-type) input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

.input-section:last-of-type input {
    margin-left: 10px;
    margin-bottom: 40px;
}

input::placeholder {
    color: #757575;
}

button {
    background-color:#5957e4 ;
    color: #fff;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

