* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-center {
    text-align: center;
}